@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat:500&display=swap);
@font-face {
    font-family: 'Nexa Book';
    src: url('../fonts/Nexa-Book.woff2') format('woff2'),
        url('../fonts/Nexa-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa-Bold.woff2') format('woff2'),
        url('../fonts/Nexa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: "Roboto", sans-serif;
    color: rgb(126, 126, 126);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;

}
.header-text{
    font-style: italic;
    text-align: center;
    color: rgb(154, 92, 26);
}
h1{
    font-family: "Nexa", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: rgb(165, 43, 43);
    text-align: center;
    line-height: 2;
}
h2{
    font-family: "Nexa", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: rgb(29, 168, 112);
    text-align: center;
    line-height: 2;
}
a{
    font-family: "Montserrat", sans-serif ;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(227, 119, 119);
    line-height: 2;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 2px 2px 4px #f8c64a;
    display: block;
}
.footer-text{
    font-family: "Nexa Book", sans-serif;
    line-height: 2;
    color: rgb(96, 95, 139);
    text-align: center;
}