@import url("reset.css");

[class*="__container"]{
    max-width: 1230px;
    margin: 0px auto;
    padding: 0px 15px;
}

body{

    font-family: Poppins, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;

}

.wrapper{ 
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}


.page{
	
}
.footer__container{
	padding-bottom: 70px;

}
.footer__link{
	color: #000000;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	position: relative;
	transition: all 0.5s ease 0s;
}
.footer__link:hover{
	color: #818181;

}
.footer__link:after{
	content: '';
	background: url( ../img/vector.svg) 0 0 no-repeat;
	position: absolute;
	right: 50px;
	top:30px;
	width: 30px;
	height: 30px;
	animation: arrow infinite 2.5s ease both;
}

@keyframes arrow{
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, 10px);
	}
	100% {
		transform: translate(0px, 0px);
	}

}

.footer__body{
	text-align: center;
	margin: 0 auto;

}
/* _________________________ */
.header {
	margin-bottom: 100px;
}
.header__container {

	padding-top: 40px;
	padding-bottom: 40px;
	flex-wrap: wrap;
    display: flex;
    align-items: center;
    column-gap: 35px;
	justify-content: space-between;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
	display: flex;
	column-gap: 74px;
	row-gap: 20px;
}
.menu__item {
}
.menu__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	transition: color 0.5s ease 0s;
}
.menu__link:hover{
	color: #000000;
	font-weight: 500;
}



.header__button {
background: #2C3878;
border: 1px solid #3C3C3C;
color: #fff;
font-weight: 500;
font-size: 14px;
line-height: 21px;
padding: 14px 32px;
transition: background 0.5s ease 0s;
}

.header__button:hover{
	background: #505a92;
}

.header__block{
	display: flex;
	column-gap: 74px;
	align-items: center;
}



/* _____SERVICES_________ */

.page__services{
	margin-bottom: 50px;
	
}
.services {
}
.services__container {
	
}
.achievement{
	margin-bottom: 40px;
}
.achievement__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
	text-transform: uppercase;
	display: flex;
	gap: 26px;
	align-items: center;
	
}
.achievement__title::after {
	content: " ";
	background: #000000;
	width: 464px;;
	height: 2px;
}

.item-services:not(:last-child) {
	margin-bottom: 40px;
}

.item-services__image {
	position: relative;
	padding-bottom: 48.927614%; /* 365/746 */
}

.title{
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color: #333333;
}

.item-services__title:not(:last-child) {
	margin-bottom: 20px;
}

.services__item{
	display: flex;
	gap: 120px;
	align-items: center;
	justify-content: center;
}
.item-services__block{
	 flex: 0 1 62.166667%; 
}

.item-services__body {
	flex: 0 1 27.833%;
}


/* ____________MINIMALIST____________ */
.page__minimalist {
	margin-bottom: 100px;
}
.minimalist {
}
.minimalist__main-block {
	margin-bottom: 100px;
}

.image img{
	max-width: 100%;
	 position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; 
}

.main-block {
	
}
.main-block__body {
	margin-bottom: 53px;
}
.main-block__title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.4;
	color: #000000;
	text-align: center;
	margin: 0 auto;
}
.main-block__title:not(:last-child) {
	margin-bottom: 40px;
}

.main-block__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #000000;
	max-width: 518px;
	text-align: center;
	margin: 0 auto;
}
.main-block__image{
	position: relative;
	padding-bottom: 42.75%;

}

.minimalist__items {
	display: flex;
	margin-bottom: 82px;
	gap: 32px;
}
.minimalist__item {
	
}
.item-minimalist{
	flex: 0 1 50%;
}
.item-minimalist__title:not(:last-child){
	margin-bottom: 24px;
}
.item-minimalist__info{
	display: flex;
	gap: 80px;
	flex-wrap: wrap;
	row-gap: 10px;

}
.minimalist__text {
}

.item-minimalist__text-01{
	margin-bottom: 60px;
}

.item-minimalist__text p:not(:last-child){
    margin-bottom: 30px;
}





.minimalist__gallery {
	display: flex;
	row-gap: 32px;
	flex-wrap: wrap;
	margin: 0 -16px;
}
.gallery__item{
	padding: 0 16px;
	flex: 0 1 50%;
}
.gallery-item-big{
	flex: 0 1 100%;
}

.gallery__image{
	position: relative;
	padding-bottom: 87.84%;
}
.gallery__image-big{
	position: relative;
	padding-bottom: 42.75%;
}


@media (max-width: 991.98px){

	.header__container{
		align-items: center;
		justify-content: center;
		row-gap: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.header{
		margin-bottom: 30px;
	}
	.main-block__title{
		font-size: 40px;
		
	}
	.main-block:not(:last-child){
	margin-bottom: 20px;
	}
	.main-block__body{
		margin-bottom: 40px;
	}
	.minimalist__items{
		flex-wrap: wrap;
	}
	.minimalist__item{
		flex: 0 1 100%;
	}
	.minimalist__main-block{
		margin-bottom: 50px;
	}
	.item-minimalist__text-01{
		margin-bottom: 20px;
	}
	.title{
		font-size: 20px;
	}
	body{
		font-size: 16px;
	}
	.minimalist__items{
		margin-bottom: 40px;
	}

	.services__item{
	flex-wrap: wrap;
	gap: 20px;
	}
	.item-services__block,
	.item-services__body{
		flex: 0 1 100%;
	}

	.page__minimalist{
		margin-bottom: 50px;
	}


 } 


@media (max-width: 767.98px){ 
	.header__block{
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		row-gap: 30px;
	}
	.main-block__title{
		font-size: 30px;
	}
	.main-block__title:not(:last-child){
		margin-bottom: 20px;
	}
	.main-block__text{
		font-size: 16px;
	}
	.button{
		width: 100%;
		text-align: center;
	}
	.gallery__item{
		flex: 0 1 100%;
	}
	.achievement{
		margin-bottom: 20px;
	}
	.page__services{
		margin-bottom: 30px;
	}
	
} 

@media (max-width: 560.00px){
	.menu__list{
		gap: 15px;
	}
 } 

 @media (max-width: 420.00px){
	.menu__list{
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		row-gap: 20px;
	}
	
 } 