@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.6; 
	color: #6C757D;

}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ---------------------------- */
[class*="__container"] {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1270px; /* 1240 + 15 + 15  */
	margin: 0 auto;
}
/* -----------HEADER----------------- */
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	background-color: rgb(255, 255, 255);
}
.header__container {
	display: flex;
	min-height: 100px;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
	gap: 10px;
	justify-content: space-between;
}
.header__logo {
	position: relative;
	z-index: 2;
	font-weight: 700;
	font-size: 18px;
	line-height: 139%;
	color: #495057;
	display: inline-flex;
	align-items: flex-end;
	
	
}
.header__logo::after {
	content: ".";
	color: #ddbea9;
}
.header__actions{
	display: flex;
	gap: 25px;
	align-items: center;
}
.header__navigation {
	flex: 0 1 auto;
	display: flex;
	align-items: center;
	gap: 20px;
	min-height: 25px;
}
.header__menu {
	display: flex;
	align-items: center;
	gap: 25px;
	flex: 1 1 auto;
	justify-content: flex-end;
}
.button{
	font-weight: 500;
	line-height: 2.08;
	color: #F8F9FA;
	padding: 7px 16px;
	background: #DDBEA9;
	border-radius: 20px;
	min-width: 38px;
	position: relative;
	z-index: 30;
	transition:background 0.5s ease 0s;
}
.menu {
}
.menu__body {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 3px;
}
.menu__item {
}
.menu__link,
.header__sign-in {
	font-weight: 500;
	line-height: 208.333333%; /* 25/12 */
	transition: color 0.3s;
	position: relative;
	color: rgba(73, 80, 87, 0.5);

}
.menu__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	transition: width 0.3s, left 0.3s;
	border-radius: 2px;
	background-color: #ddbea9;
}
.menu__link.active,
.tabs-design__link.active{
	color: #495057;
}
.menu__link.active::before {
	width: 100%;
	left: 0;
}
.menu__item_parent {
	position: relative;
	padding-right: 13px;
}
.menu__sub-menu {
}
.sub-menu {
}
.sub-menu__list {
	background: #f9f7f7;
	border-radius: 5px;
	padding: 20px;
	min-width: 140px;

}
.sub-menu__item {
}
.sub-menu__item:not(:last-child) {
	margin-bottom: 10px;
}
.sub-menu__link {
	color: rgba(0, 0, 0, 0.6);
	line-height: 208.333333%; /* 25/12 */
	font-weight: 500;
	transition: color 0.3s;
}
.menu-icon {
	display: none;
}
@media (max-width: 767.98px) {
	.header__sign-in{
		font-size: 14px;
	}
	.header__logo{
		flex-grow: 1;
	}
	.header__container {
		min-height: 60px;
	}
	.menu__list {
		flex-direction: column;
		row-gap: 20px;
	}
	.menu__link {
		font-size: 20px;
		color:#495057;;
	}

	.menu-icon {
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span {
		content: "";
		position: absolute;
		height: 1px;
		left: 0;
		width: 100%;
		background-color: #000000;
		transition: all 0.3s;
	}
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		top: 50%;
		margin-top: -0.5px;
	}

	.menu-open .menu-icon::before {
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
	.menu-open .menu-icon::after {
		bottom: 50%;
		transform: translateY(50%) rotate(45deg);
	}
	.menu-open .menu-icon span {
		width: 0;
		left: 50%;
	}

	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color:#f9f7f7;
		padding: 90px 15px 20px 15px;
		transition: left 0.3s;
	}
	.menu__body::before {
		content: "";
		height: 60px;
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #ffffff;
		z-index: 1;
		transition: left 0.3s;
	}

	.menu-open .menu__body,
	.menu-open .menu__body::before {
		left: 0;
	}

	.sub-menu__list {
		padding: 10px 0px 0px 0px;
		min-width: 0;
	}
	.sub-menu__link {
		font-size: 16px;
	}
}
@media (any-hover: hover)
 {
	.design__image:hover img,
	.blog__image:hover img{
		transform: scale(1.2);
	}
	.next-page__link:hover{
		background:  #DDBEA9;
		color:  #ffffff;
	}

	.blog__title-link:hover,
	.design__title-link:hover {
		color:#DDBEA9;
	}
	.list-articles__link:hover{
		transform: translate(10px, 0px);
	}

	.menu-footer__link:hover,
	.social-footer__link:hover{
	color: rgb(255, 255, 255);
	}

	.menu__item:hover .menu__link,
	.header__sign-in:hover,
	.header-social__link:hover,
	.tabs-design__link:hover {
		color: #495057;
	}
	.menu__item:hover .menu__link::before {
		width: 100%;
		left: 0;
	}
	.menu__item_parent:hover .sub-menu {
		top: 100%;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
	.sub-menu__link:hover {
		color:#574949;	
	}
	.button:hover{
		background: #b0927e;	
	}
	
}
@media (min-width: 768px) {
	.sub-menu {
		position: absolute;
		top: 120%;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		padding-top: 5px;
		pointer-events: none;
	}
	.menu__item_parent::after {
		content: "";
		width: 8px;
		height: 5px;
		position: absolute;
		top: 9px;
		right: 0;
		background: url("../img/arrow.svg") 0 0 / 100% no-repeat;
	}
}


 

/* ------------MAIN-BLOCK---------------- */

.title{
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	text-align: center;
	color: #F8F9FA;
}
.page__main-block {
	padding-top: 100px;
	margin-bottom: 94px;
}
.main-block__container{
	padding: 185px 0 200px 0;
    position: relative;
    border-radius: 5px;
    max-width: 1240px;
}
.main-block__content {
	max-width: 530px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 0 15px;
}
.main-block__label{
	line-height: 1.67;
	text-align: center;
	color: #E5E5E5;
}
.main-block__label:not(:last-child){
	margin-bottom: 15px;
}
.main-block__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.main-block__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}
@media (max-width: 991.98px){
	.main-block__label:not(:last-child){
		margin-bottom: 8px;
	}
 } 
@media (max-width: 767.98px){
	.page__main-block {
		padding-top: 50px;
	}
	.header__actions{
		gap: 15px;
	}
	.title{
		font-size: 24px;
	}
 } 
@media (max-width: 560px){
	.title{
		font-size: 18px;
		line-height: 1.5;
	}
  }
 @media (max-width: 412px){ 
	.title{
		font-size: 20px;
	}

} 
@media (max-width: 360px){
	.main-block__label:not(:last-child){
		margin-bottom: 3px;
	}
 } 



/* ____________ARTICLES_________ */

.blog__wrapper-image{
	flex: 0 0 47.438017%; 
}
.page__articles {
	padding-bottom: 50px;
}
.articles__container {
	max-width: 1058px;
}
.articles__block{
	display: flex;
	gap: 25px;
	margin-bottom: 50px;
	
}
.articles__title {
	color: #212529;
	text-align: left;
}
.articles__title:not(:last-child) {
	margin-bottom: 30px;
}
.articles__list:not(:last-child) {
	margin-bottom: 30px;
}
.list-articles__item {
	position: relative;
}
.list-articles__link {
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	color: #495057;
	display: inline-block;
	transition: all 0.5s ease 0s;

}

.list-articles__item:not(:last-child){
	margin-bottom: 10px;
}
.list-articles__link:before {
	content: '+';
	padding-right: 10px;

}
.search-form__block{
	display: flex;
	align-items: center;
}
.search-form__label:before {
	content: '';
	font-weight: 500;
	line-height: 2.08;
	padding-left: 22px;
	background: url(../img/search02.svg) center no-repeat;
}
.articles__blog {
	flex: 0 0 58.85214%; /* 605/1028 */
}


.blog__item {
	display: flex;
	gap: 30px;
}
.blog__item:not(:last-child) {
	margin-bottom: 40px;
}
.blog__image{
	display: block;
	position: relative;
	padding-bottom: 69.686411%; /* 200/287 */
	overflow: hidden;
}
.blog__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
	transition: transform 1s ease 0s;
}

.blog__body {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}
.blog__date,
.design__date{
	color: #6C757D;
}
.blog__title-link,
.design__title-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #212529;
	transition: transform 0.5s ease 0s;
}
.blog__text {
	padding-bottom: 15px;
	border-bottom: 1px solid #E5E5E5;
	width: 100%;
}
.blog__info {
	display: flex;
	justify-content: space-between;
}
.blog__quantity{
	padding-left: 18px;
	background: url(../img/heart.svg ) left no-repeat;
}
.search-form__input{
	padding: 10px;
}
.page-blog__list {
	display: flex;
	gap: 15px;
}
.search-form__input{
	flex: 0 1 70%;
}
.page-blog__link{
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: rgba(73, 80, 87, 0.5);
	padding-bottom: 4px;
	transition: all 0.5s ease 0s;
}
.page-blog__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	border-radius: 2px;
	background-color: #ddbea9;
}
.page-blog__link.active {
	position: relative;
	color: #495057;
}
.page-blog__link.active::before {
	width: 100%;
	left: 0;
}
.page-blog__link:hover{
	color: #495057;
}

@media (max-width: 991.98px){
	
	.page-blog__link,
	.search-form__input{
		font-size: 14px;
	}
	.page-blog__list{
		justify-content: center;
	}
	.articles__left-block{
		margin: 0 auto;
	}
	.list-articles__link{
		font-size: 16px;
	}
	.page__main-block {
		margin-bottom: 50px;
	}
	.articles__blog{
		flex: 0 1 100%;
	}
	.articles__block{
		flex-wrap: wrap;
		gap: 35px;
	}
  } 
@media (max-width: 767.98px){
	.page__main-block {
		margin-bottom: 30px;
	}
} 
@media (max-width: 560px){
	.search-form__input{
		flex: 0 1 100%;
	}
	
	.blog__item{
		flex-wrap: wrap;
		gap: 15px;
	}
	.blog__wrapper-image{
		flex: 0 1 100%;
	}
	.articles__title:not(:last-child){
		margin-bottom: 15px;
	}
	.list-articles__link,
	.search-form__input{
		font-size: 12px;
	}
	.articles__list:not(:last-child){
		margin-bottom: 15px;
	}
	.articles__block{
		row-gap: 25px;
	}
}
@media (max-width:360px){ 
	.button{
		padding: 3px 11px;
	}
	.title{
		font-size: 18px;
	}
	
	.header__container{
		flex-wrap: wrap;
		row-gap: 6px;
		justify-content: center;
		align-items: center;
	}
}

/* ___________Next-page_____ */

.page__next{
	padding-bottom: 100px;
}
.next-page__button{
	margin: 0 auto;
	text-align: center;
	

}

.next-page__link{
	font-weight: 500;
	text-align: center;
	border: 2px solid #DDBEA9;
	padding: 5px 20px;
	display: inline-block;
	border-radius: 20px;
	color:  #DDBEA9;
	font-size: 16px;
	transition: all 0.5s ease 0s;
}

.next-page__link:hover{
	background:  #DDBEA9;
	color:  #ffffff;
}
@media (max-width: 991.98px){
	.page__next{
		padding-bottom: 50px;
	}
 } 

 @media (max-width: 306px){
	.header__container{
		min-height: 70px;
	}
	.page__main-block{
		padding-top: 80px;
	}
	.menu__body:before{
		height:80px;
	}
 } 

/* ______FOOTER______ */
.footer {
	background: #212529;
}
.footer__container {
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer__top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);
	width: 100%;
	column-gap: 50px;
	align-items: center;
}
.footer__logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.39;
	color: #F8F9FA;
}
.footer__navigation {
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
	display: flex;
	gap: 25px;
}
.menu-footer__item {
}
.menu-footer__link,
.social-footer__link  {
	font-weight: 500;
	color: rgba(248, 249, 250, 0.5);
}
.social-footer__list {
	display: flex;
	gap: 25px;
}
.footer__copy {

}
.footer__copy {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	column-gap: 30px;
}
.copy-footer__text {
	font-weight: 500;
	color: rgba(248, 249, 250, 0.5);
}
@media (max-width: 991.98px){ 
	.footer__container {
		padding-top: 50px;
		padding-bottom: 50px;
	}
} 
@media (max-width: 767.98px){ 
	.footer__container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer__top {
		flex-direction: column;
		padding-bottom: 20px;
		flex-wrap: wrap;
		row-gap: 15px;
		justify-content: center;
	}
	.footer__copy {
		flex-direction: column;
		padding-bottom: 20px;
		flex-wrap: wrap;
		row-gap: 15px;
		justify-content: center;
		align-items: center;
	}

}



/* _________next-page_____ */
.header__sosial{
	
}

.header-social{
	display: flex;
	gap: 25px;
	flex: 1 1 auto;
	position: relative;
	z-index: 9;
	
	
}

.header-social__link{
	font-weight: 500;
	color: rgba(73, 80, 87, 0.5);
}
.header__last-block{
	display: flex;
	align-items: center;
	gap: 20px;
	
}
.header-social:not(:last-child)::after {
	content: "";
	background-color: rgba(229, 229, 229, 0.5);
	flex: 0 0 1px;
	height: 25px;
}
	.header__search{
		background: url("../img/search02.svg") center no-repeat;
		width: 22px;
		height: 22px;
		transform: translate(-5px, 0px);
		position: relative;
		z-index: 10;
	}


@media (max-width: 360.00px){
	.header__last-block{
		gap: 10px;
	}
	.header-social{
		gap: 15px;
	}
 } 
@media (max-width: 991.98px){
	.header-social__link{
		font-size: 14px;
	}
 } 

 /*_________DESIGN_________  */

 .page__design {
	padding-bottom: 50px;
}
.design {
}
.design__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	
}
.design__header:not(:last-child){
	margin-bottom: 45px;
}



.design__header-title {
	color: #212529;
	flex: 0 1 393px;
	text-align: left;
	
}
.title {
}
.design__tabs {
}
.tabs-design {
	
}
.tabs-design__list {
	display: flex;
	column-gap: 25px;
	flex-wrap: wrap;
}
.tabs-design__item {
}
.tabs-design__link {
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	color: #C4C4C4;
}
@media (max-width: 991.98px){
	.design__header{
		flex-wrap: wrap;
		justify-content: center;
	}
	.design__header-title {
		text-align: center;
	}
	.tabs-design__list {
	flex-wrap: wrap;
	justify-content: center;
	}
 } 

 @media (max-width: 767.98px){
	.design__header{
		row-gap: 15px;
	}
  } 


.design__items {
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
	row-gap: 40px;
}
.design__column {
	flex: 0 1 33.333%;
	padding: 0 15px;
}
.design__item {
}

.design__image{
	display: inline-block;
}
.design__image:not(:last-child){
	margin-bottom: 30px;
}
.design__date:not(:last-child){
	margin-bottom: 15px
}
.design__title {
}


.design__image{
	display: block;
	position: relative;
	padding-bottom: 63.613232%; /* 250/393 */
	overflow: hidden;
}
.design__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
	transition: transform 1s ease 0s;
}

@media (max-width: 991.98px){
	.design__column {
		flex: 0 1 50%;
	}
	.design__image:not(:last-child){
		margin-bottom: 15px;
	}
 } 

@media (max-width: 767.98px){
	.design__items{
		row-gap: 30px;
		
	}
	.design__header:not(:last-child){
		margin-bottom: 30px;
	}
	
 } 



 @media (max-width: 660px){
	.design__column {
		flex: 0 1 100%;
	}
	
 } 
