@import url("reset.css");

[class*="__container"]{
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 20px;
}

@media (max-width: 991.98px){
  .container{
    flex-wrap: wrap;
}
 } 

body{
    font-family:Raleway;
    color: #a4a4b5;
    font-weight: 400;
    line-height: 1.4;
    font-size: 16px;
    background: #0E0E28;
}
/*---------WRAPPER------------*/
.wrapper{ /*  прижимаем подвал к низу*/
min-height: 100%;
display: flex;
flex-direction: column;
overflow: clip;
}
/* _______________ЛОГОТИП_____________ */

.logo__title{
  font-weight: 600;
  font-size: 2rem;
  line-height: 0.8;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 6px;
}
.logo__subtitle{
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color:#b299d4;
  line-height: 0.6;
}
.logo{
  flex: 0 1 40%;
}
@media (max-width: 991.98px){
  .logo{
    flex: 0 1 20%;
  }
 } 

/*---------BUTTON------------*/
.button-border{
  padding: 16px 32px;
  border: 1px solid #916ad0;
  border-radius: 30px;
  transition: background 0.5s ease 0s;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-align: center;
  display: inline-block;
}
.button-border:hover{
  background:linear-gradient(89.83deg,  #6937dd 0.11%,  #916ad0 58.65%);
}
.button-purple{
  padding: 16px 32px;
  background:linear-gradient(89.83deg,  #6937dd 0.11%,  #916ad0 58.65%);
  display: inline-block;
  border-radius: 30px;
  transition: background 3s ease-in-out;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
}
.button-purple:hover {
  background:linear-gradient(to right,#916ad0, #8f5ae5,#8a49f3,  #6937dd);
}
.action__link{
  display: inline-block;
  content:"";
  width: 40px;
  height: 10px;
  background: url( ../img/icons/arrow.svg) 0 center no-repeat;
  transition: all 0.3s ease 0s;
}
.action__link:hover{
  transform: translate(10px, 0px);
}

/* ________PHONE_______ */

.phone-header__link{
  display: flex;
  gap: 20px;
}
.phone-header {
  background: none;
}
.phone-header__image {
  position: relative;
}
.phone-header__image::before {
  content:'';
  background: linear-gradient(317.53deg, rgba(30, 79, 198, 0.7) 21.46%, rgba(198, 30, 191, 0.7) 79.79%);
  filter: blur(22px);
  width: 40px;
  height: 40px;
  top: -6px;
  left: -6px;
  display: inline-block;
  position: absolute;

}
.phone-header__text{
  font-size: 1.75rem;
  color: #fff;
  font-family: Commissioner;
  letter-spacing:2px;
  line-height: 1.5;
  position: relative;
}
@media (max-width: 560.00px){ 
  .header__phone {
   padding-right: 8px;
   }
} 

/* ________________TITLE____________________*/

.label{
  color:  #b299d4;
  line-height: 1.4px;
  letter-spacing: 0.3em;
  text-transform: uppercase; 
  font-size: 16px;
}
.label:not(:last-child){
  margin-bottom: 30px;
}
.label-center{
  text-align: center;
}
.title {
  font-weight: 600;
  font-size: 50px;
  line-height: 1;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 767.98px){
  .title {
    font-size: 40px;
  }
 } 

.title:not(:last-child){
  margin-bottom: 30px;
}
/* ________________TEXT_____________________ */

.text:not(:last-child){
  margin-bottom: 30px;
}
.text-center{
  text-align: center;
  max-width: 800px;
}
/* _______________________CONTENT___________ */

.content{
  flex: 0 1 50%;
}
@media (max-width: 991.98px){
  .content{
    flex: 0 1 100%;
  }
 } 


.content-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* _______________________IMAGE___________ */

.image img{
  width: 100%;
}

.image{
  flex: 0 1 50%;
  position: relative;
  transition: all 2s;
}
@media (max-width: 991.98px){
  .image{
    flex: 0 1 100%;
    align-self: center;
  }
 } 




/* ___________HEADER__________ */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background:#0e0e28;
  z-index: 20;
}
.header__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 35px;
  justify-content: space-between;
  min-height: 70px;
}
.header__column{
  flex: 0 1 70%;
}
.column-header__body{
  display: flex;
  align-items: center;
  column-gap: 14px;
  width: 100%;
}
.menu__list {
  display: flex;
  justify-content: flex-end;
  column-gap: 28px;
  flex-wrap: wrap;
  row-gap: 3px;
}
.menu__link{
  line-height: 1.08;
  color:#fff;
  display: block;
}
.menu__link:hover{
 color:  #9e81cf;
}
@media (max-width: 600.00px){
  .button-purple{
    width: 100%;
  }
  .header__container{
    flex-wrap: wrap;
  }
  .header__container{
    row-gap: 30px;
  }
  .header__column{
    flex: 0 1 62%;
  }
  .column-header__body{
  justify-content: space-between;
  }
 } 
@media (max-width:460.00px){ 
  .header__column{
    flex: 0 1 64%;
  }
} 
@media (max-width:414.00px){ 
  .header__column{
    flex: 0 1 66%;
  }
} 
@media (max-width:390.00px){ 
  .header__column{
    flex: 0 1 68%;
  }
} 
@media (max-width: 991.98px){
  .header__body{
    column-gap: 40px;
  }
  .phone-header__text{
    display: none;
  }
 } 

/* ______________FOOTER___________ */

.footer__container{
  padding-top: 40px;
  padding-bottom: 40px;
  border-top:1px solid #31204cf5;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  column-gap: 20px;
  align-items: center;
}
@media (max-width: 767.98px){ 
    .footer__container{
      justify-content: center;
      row-gap: 30px;  
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }}
.footer__menu {
  display: flex;
  }
@media (max-width: 767.98px){ 
    .footer__menu {
      flex-wrap: wrap;
    }
    .footer__logo {
      text-align: center;
    }
    .menu-footer__list{
      row-gap: 30px;
  
  
    }
} 
.menu-footer__list {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 45px;
    row-gap: 15px;
}
.menu-footer__link{
    color: #fff;
    font-size: 18px;
}
.footer__copy {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
@media (min-width: 768px){ 
    .footer__copy{
      grid-column: span 2;
    }
    .menu-footer__item{
      align-self: center;
    }
  
}
  

/* _________________BURGER__________________________ */

.icon-menu{
    display: block;
    position: absolute;
    margin-left: 15px;
}
.burger__border::after{
    content:"";
    width: 50px;
    height: 50px;
    border: #9e81cf 1px solid;
    box-shadow: 1px 1px 10px #b299d493;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    top: -16px;
    right:0px;
    position: absolute;
} 
.button__menu{
    position: relative;
    padding-right: 15px;

}
.menu__list{
  column-gap: 25px;
 
} .header__container{
 min-height: 90px;
  }
   
    .menu__list{
        column-gap: 15px;
    }
    .icon-menu{
        display: block;
        flex: 0 0 20px;
        width: 20px;
        height: 18px;
        position: relative;
        z-index: 10;
        background: none;
    }
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after{
        content:'';
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;

    }
    .icon-menu::before{
        top: 0;
    }
    .icon-menu::after{
        bottom: 0;
    }
    .icon-menu span{
        top: calc(50% - 1px);
    }

    .menu-open .icon-menu span{
        width: 0;
      }
      .menu-open .icon-menu::before{
         transform: rotate(-45deg);
         top: calc(50% - 1px);
      }
      .menu-open .icon-menu::after {
         transform: rotate(45deg);
         bottom: calc(50% - 1px);
      }
    .menu__body{
        position: fixed;
        width: 100%;
        height:100%;
        background-color:#0E0E28;
        left: -100%;
        top: 85px;
        z-index: 6;
        padding: 50px 0;
        overflow: auto;
        transition: left 1s ease 0s;

    }
    .menu__list{
        row-gap: 30px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
    }
    .menu__link{
        font-size: 34px;
        line-height: 1.5;
        font-weight: 300;
    }
 .menu-open .menu__body,
 .menu-open .menu__body::before{
     left: 0;
 }
@media (max-width: 560.00px){
    .menu__body{

        width: 100%;
        height: 100%;
      
    }
 } 

/* _______________PAGES____________________ */
.page{
  margin-bottom: 100px;
}
.page section:not(:last-child){
  margin-bottom: 100px;
}

@media (max-width: 767.98px){
  .page{
    margin-bottom: 70px;
  }
  .page section:not(:last-child){
    margin-bottom: 70px;
  }
} 



/* _______________MAIN-BLOC________ */

.page__main-block{
  padding-top: 200px;
}
.main-block__container {
  display: flex;
  gap: 30px;
  align-items: center;

}
.main-block__content {
  flex: 0 1 50%;
}
.main-block__title span {

  background: linear-gradient(89.83deg,  #6937dd 0.11%,  #916ad0 58.65%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07); 
}
.main-block__image{
  flex: 0 1 50%;
  position: relative;
  transition: all 2s;
}
.main-block__image img{
  max-width: 100%;
}
.main-block__image::after{
  content: '';
  width: 100px;
  height: 100px;
  right: -50px;
  top: -10px;
  background: linear-gradient(314.31deg, rgba(30, 79, 198, 0.2) 20.81%, rgba(198, 30, 191, 0.2) 92.02%);
  filter: blur(50px);
  position: absolute;
}
.main-block__text:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 991.98px){
  .main-block__container {
    flex-wrap: wrap;
    row-gap: 60px;
}
.main-block__image{
  flex: 0 1 100%;
  align-self: center;
}

.main-block__content{
  flex: 0 1 100%;
}
 } 

 /* ___________________ABOUT_______________ */

/* _________________SERVICES_____________ */


.page__services {

}

.services__container {
  display: flex;
  gap: 80px;
}
@media (max-width: 1100px){ 
  .services__container {
      flex-direction: column;
  }
  .services__header .header-main__title,
  .services__header .header-main__text{
      max-width: none;
  }
} 

@media (max-width: 767.98px){ 
  
  .services__container {
      flex-direction: column;
  }
  .services__content {
      align-self: stretch;
  }
} 
.services__content {
  flex: 0 1 50%;
  align-self: center;
}
.services__items {
  display: flex;
  flex: 0 1 50%;
  gap: 32px;
  justify-content: center;
}
.services__container{
  row-gap: 40px;
}
@media (max-width: 660px){
  .services__items {
      flex-direction: column;      
  }
} 
.services__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.services__column:first-child{
  padding-top: 48px;
}
.item-service {
  border-radius: 30px;
  padding:40px 30px 30px 30px;
  min-width: 268px;
  background: linear-gradient(268.12deg, rgba(63, 63, 103, 0.159) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  
}
.item-service__icon {
  position: relative;
  padding-left: 10px;
}
.item-service__icon::before{
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background: linear-gradient(317.53deg, rgba(30, 79, 198, 0.7) 21.46%, rgba(198, 30, 191, 0.7) 79.79%);
  filter: blur(22px);
}
.item-service__icon:not(:last-child) {
  margin-bottom: 36px;

}
.item-service__link{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.42;
  text-align: left;
  color: #fff; 
}

.item-service__link:hover{
  color:  #9e81cf;
}

.item-service__title{
  margin-bottom: 20px;
}




































/* TABS */

/*________________________PROJECTS______________________*/

.projects__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.projects__container::before{
  content: '';
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 240px;
  background: linear-gradient(314.31deg, rgba(30, 79, 198, 0.3) 20.81%, rgba(198, 30, 191, 0.3) 92.02%);
  filter: blur(50px);
  }
.projects__content{

  margin-bottom: 50px;
}
.projects__button{
  align-self: center;
}
.tabs-projects {
  margin-bottom: 50px;
 
}
.tabs-projects__nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 10px;
  margin-bottom: 45px;
  justify-content: center;
}
.tabs-projects__button {
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease 0s;
}
.tabs-projects__button:after {
  content:"";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  background: #9e81cf;
  transition: width 0.5s ease 0s;
  height: 1px;

}
.tabs-projects__button:hover{
  color:#9e81cf;
}
.tabs-projects__button:hover::after{
  width: 100%;
}
.tabs-projects__button.active{
  color:#9e81cf;
}
.tabs-projects__button.active::after{
  width: 100%;
}
.tabs-projects__item {
  display: none;
}
.tabs-projects__item.active {
  display: block;
}
.item-tabs__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill,minmax(330px,1fr));/*Эта конструкция грида позволяет адаптировать сетки сразу в пк версии*/
}
.item-tabs__image {
  position: relative;
  padding-bottom: 81%;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
.item-tabs__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s linear 0s;
}
.item-tabs__image img:hover{
  transform: scale(1.1);
}
.item-tabs__title{
  font-size: 18px;;
}

/* ______________DONE___________ */
.done{
  margin-bottom: 100px;
}
.done__container{
  display: flex;
  gap: 30px;
  align-items: center;
}
.done__items{
  padding-top: 30px;
}
.done__item:not(:last-child){
  margin-bottom: 20px;
}
.done__item{
  position: relative;
  margin-left: 80px;
}
.done__item::before{
  content:'';
  background: linear-gradient(317.53deg, rgba(30, 79, 198, 0.7) 21.46%, rgba(198, 30, 191, 0.7) 79.79%);
  filter: blur(22px);
  width: 30px;
  height: 30px;
  top: 0px;
  left: 0;
  display: inline-block;
  margin-left: -60px;
  position: absolute;
}
.done__item::after{
  content:'';
 background: url(../img/icons/check.svg ) center no-repeat;
  width: 30px;
  height: 30px;
  top: 0px;
  left: 0;
  display: inline-block;
  margin-left: -60px;
  position: absolute;
}
@media (max-width: 560.00px){
  .done__item{
    margin-left: 70px;
  }
 } 



  /* __________LAYOUT________ */
 
  .layout__content{
    margin-bottom: 50px;
  }
  .layout__images {
    flex: 0 1 50%;
  }
  .images-layout {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  .images-layout__item img{
    max-width: 100%;
    border-radius: 20px;
  }
  .images-layout__column {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .layout__text-bottom{
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
  }
  @media (max-width: 991.98px){
    .images-layout {
      gap: 30px;
    }
    .images-layout__column {
      gap: 30px;
    }
   } 
  @media (max-width: 767.98px){
    .images-layout{
     flex-wrap: wrap;
    }
  }






    /* ______________ADAPTIVE___________ */

    .adaptive__container {
      display: flex;
      gap: 100px;
      align-items: center;
    }
    .adaptive__content {
      flex: 0 1 80%;
    }
  
    .adaptive__columns {
      display: flex;
      gap: 20px;
    }
    .adaptive__column:first-child {
      padding-top: 60px;
    }
    .adaptive__image img{
      width: 100%;
    }
   @media (max-width: 991.98px){
    .adaptive__content {
      flex: 0 1 100%;
    }
    .adaptive__columns {
    flex: 0 1 100%;
    align-items: center;
    justify-content: center;
    }
    } 
  
    @media (max-width: 560.00px){
      .adaptive__columns {
        flex-wrap: wrap;
      }
      } 

  /* ________CONSULTATION_________ */
  .consultation__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .consultation__content{
    margin-bottom: 50px;
  }


      .animation{
        animation: fade-in-right 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      }
      
      @-webkit-keyframes fade-in-right {
        0% {
          -webkit-transform: translateX(100px);
                  transform: translateX(100px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes fade-in-right {
        0% {
          -webkit-transform: translateX(100px);
                  transform: translateX(100px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      
      
      
      