@import url("reset.css");

[class*="__container"]{
    max-width: 1270px;
    margin: 0px auto;
    padding: 0px 15px;
}

body{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.78;
    color: #6C757D; 
    font-family: Poppins,sans-serif;
}
.content{
    max-width: 816px;
    margin: 0 auto;
}
.title{
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #212529;
}
.header-title{
   max-width: 400px;
   margin-bottom: 40px;
}
.main-title{
    max-width: 605px;
    margin-bottom: 40px;
 }

.header__container{
    margin-bottom: 80px;
}
.header-content{
    margin-bottom: 80px;
}
p{
    margin-bottom: 30px;
}


.main__container{
    margin-bottom: 80px;
}
.main-content{
    margin-bottom: 80px;
}

.footer__container{
    margin-bottom: 80px;
}


.big-image img{
    max-width: 100%;
    display: block;
}
.smoll-images{
    font-size: 0;
}
.smoll-image_01 img{
    max-width: 100%;
    display: block;
    
 }
 .smoll-image_02 img{
    max-width: 100%;
    display: block;
 }
.smoll-image_01{
    margin-right: 30px;
 }

 /* ==========TEST============== */

.block-title{
    background: rgb(255, 216, 216);
    text-align: center;
    padding: 30px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

 .block-text{
    background: rgb(241, 178, 106);
    padding:20px 30px 20px;
    margin-bottom: 30px;
 }

 .two-blocks{
    font-size: 0;
    margin-bottom: 30px;
 }

 .two-blocks_01{
    background: rgb(176, 253, 124);
    padding: 50px 20px;
    display: inline-block;
    max-width: 400px;
    min-height: 400px;
    font-size: 16px;
 }

 .two-blocks_01{
    background: rgb(186, 187, 255);
    padding: 50px 20px;
    display: inline-block;
    max-width: 400px;
    min-height: 400px;
    font-size: 16px;
    margin-right: 20px;
 }

 .two-blocks_02{
    background: rgb(187, 255, 144);
    padding: 50px 20px;
    display: inline-block;
    max-width: 400px;
    min-height: 400px;
    font-size: 16px;
    margin-right: 20px;
 }

 .two-blocks_03{
    background: rgb(122, 224, 255);
    padding: 50px 20px;
    display: inline-block;
    max-width: 400px;
    min-height: 400px;
    font-size: 16px;
 }

.text-scroll{
    background: rgb(244, 255, 164);
    padding: 50px 20px;
    overflow: scroll;
    max-height: 200px;
    margin-bottom: 30px;
}

 